##########################################################################
## FRONTEND START
##########################################################################

# API URL
VITE_API_URL=

# Supabase CL
VITE_SUPABASE_URL=
VITE_SUPABASE_KEY=

# Stripe link payment
VITE_STRIPE_LINK=